body {
    background-color: #74C2E1;
    font-size: 14px;
}


img {
  width: 100%;

}


p {
    font-size: 14px;
    line-height: 18px;
    padding: 1px;
}


.navbar-text {
  float: left;
  font-size: 60px;
  color: #FFDE00;
  font-family: Gill Sans;
  padding-top: 10px;

}

.sub {
  color: #0191C8;
  font-family: Gill Sans;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 20px;
}

.container-fluid {
  margin: 10px;
}

.row {

  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em; 
  
}

.col-md-4 {
  display: inline-block;
  background-color: #C0C0C0;
  width:  100%; 
  float: none;
  line-height: 1;
  border: 2px solid #FFDE00;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 1px;
  position: relative;
}

.rounded {
  background-color: #C0C0C0;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 2px;
}

.photo {
  background-color: #C0C0C0;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 2px;
}

.hover { 
 -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}



.article {
  background-color: #C0C0C0;
  color: #0191C8;
  border-radius: 10px;
  padding: 2px;
  margin: 0px;
  font-family: Gill Sans;
  text-align: justify;

}

.article h4 {
  padding: 2px;
  color: #005B9A;
}

.wrapper {
  background-color: #0191C8;
  border-style: solid;
  border-color: #FFDE00;
  border-radius: 10px;
  float: left;
  margin: 10px;
  width: 65%;
  height: 200px;
  overflow: scroll;
}

.wrapper h4 {
  padding: 2px;
  color: #005B9A;
}

.fb-like {
  padding: 5px;
  float: right;

}

.fb-comments {
  padding: 5px;
  float: left;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

.about {
  float: right;
  background-color: #0191C8;
  color: #FFDE00;
  border-style: solid;
  border-color: #FFDE00;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  width: 25%;
  height: 200px;

}

.about h4 {
  padding: 5px;
  color: #005B9A;
}

.about a {
  color: #FFDE00;
}

/*.footer {
    border-top: 1px solid white;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
    font-family: Gill Sans;
    color: #FFDE00;
}
